<div class="slider-footer">
	<div class="telandEmail left">
		<ul>
			<li><span class="telIcon"></span>+91-120-2800800</li>
			<li><span class="mailIcon"></span>office@dps.ind.in</li>
			
		</ul>
	</div>

	<div class="marquee"> <span class="iconAnounce"></span><marquee style="color:#ffc107">Admission open 2019-20</marquee></div>	
	<div class="social mt-1">
		<a href="https://www.facebook.com/dpsrn/" target="_blank">			
			<span class="facebook"></span>
		</a>
		<a href="https://twitter.com/intent/follow?original_referer=http%3A%2F%2Fwww.dps.ind.in%2Fabout-us&ref_src=twsrc%5Etfw&region=follow_link&screen_name=dpsrajnagar&tw_p=followbutton" target="_blank">			
			<span class="twitter"></span>
		</a>
		<a href="https://plus.google.com/share?app=110&url=https%3A%2F%2Fplus.google.com%2F%2BDPSRajNagar" target="_blank">			
			<span class="google"></span>
		</a>
	</div>


	<div class="paytm right">
		<button class="btn btn-sm btn-warning" routerLink="/admission">
			<span class="admissionBottom"></span>
		Admission</button>
		<button class="btn btn-sm btn-warning contact" routerLink="/contact-us">
			<span class="contactBottom"></span>
		Contact Us</button>
		<a  class="btn btn-sm btn-warning mr-3 text-dark" href="https://paytm.com/education?op=Delhi%20Public%20School%20Raj%20Nagar&utm_campaign=DPSRajnagar" target="_blank">
			<span class="payIcon"></span>
			Fee Payment<span class="tru">Through Paytm</span></a>
		</div>




