	<div class="footer">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-6">
					<ul class="d-inline">
						<li><a routerLink="/about-us">About Us </a></li>
						<li><a routerLink="/gallery">Our Gallery  </a></li>
						<li><a routerLink="/security">Security </a></li>
						<li><a routerLink="/acedmic">Academics </a></li>
						<li><a routerLink="/student-tc">Student TC </a></li>
					</ul>
					<p class="copy">(c) Delhi Public School-Rajnagar </p>
				</div>
				<div class="col-sm-6"></div>
			</div>
		</div>
	</div>
	<div class="progressContainer"><div id="progress" class="progress"></div></div>

