


<div class="bannerNew">
  <div class="innerNew">
    <div class="leftItem"><img src="../../assets/img/innerBanner/security/Security.png" alt=""></div>
    <div class="rightItem"><img src="../../assets/img/innerBanner/security/cctv_camera.png" alt=""></div>
  </div>
</div>



<div class="container-fluid">
 
	<div class="gallery-main">
		<div class="row">
			<div class="col-sm-11 mx-auto">

				<div class="row">
					<div class="col-sm-12">
						<h1>School Security </h1>
						<p>
							Schools management & staff are on their toes when it comes to security. School considers both internal and external threats and in order to keep children and all people inside the school safe ,the following security measures have been put in place :
						</p>
					</div>
				</div>

				<br>
				<div class="row m-0 p-0">
					<div class="col-sm-4 m-0 p-0 " >
						<img src="../../assets/img/360/Security/1.jpg" alt="" >
					</div>
					<div class="col-sm-4 m-0   " >
						<ul style="list-style-type: square !important; line-height: 30px;">						
							<li> Students of nursery and prep are escorted to their classrooms from their bus drop off point by their teachers and helpers.</li>
							<li>The entire school and school buses are equipped with HD CCTV cameras.</li>
							<li>All buses have a GPS tracking system & a female staff member .</li>
						</ul>
					</div>
					<div class="col-sm-4 m-0 p-0 " >
						<img src="../../assets/img/360/Security/03.jpg" alt="" >
						
					</div>
				</div>

				<div class="row m-0 p-0">
					<div class="col-sm-4 m-0 " >
						<ul style="list-style-type: square !important; line-height: 30px;">						
							<li>The school has installed a state-of-the-art fire-fighting system.</li>
							<li>Central Security Alarm is installed & the entire staff is trained to handle and deal with all emergencies.</li>		
							<li>Metal detectors are installed at the entry points . The School Compound has  an electrified fence.</li>

						</ul>


					</div>
					<div class="col-sm-4 m-0 p-0 " >

						<img src="../../assets/img/360/Security/2.jpg" alt="" >

					</div>
					<div class="col-sm-4 m-0 ">
						
						<ul style="list-style-type: square !important; line-height: 30px;">						
							<li>Wash rooms in inside the school block and there is a female attendant present.</li>
							<li>Visitors / Parents are only allowed to enter the school premises after a complete security check and verification at the gate .</li>
							<li>It is mandatory for everyone to wear theirID Card inside the school .</li>
							<li>The entire DPS Rajnagar team is verified by the police.</li>
							<li>Regular Security Awareness workshops are conducted for staff & students. </li>						
						</ul>
					</div>
				</div>


			</div>

			
		</div>
	</div>  



	

</div>





