<!-- <app-header></app-header>	
<app-nav></app-nav>
<div class="admissionFix">
	<a class="text-uppercase btn btn-warning btn-sm" href="http://dpsrajnagar.ckmeout.com/form.pdf" target="_blank" download > 
		<span class="downloadIcon"></span> Application Form
	</a>		

	<a class="btn btn-warning text-uppercase" href="http://dpsrajnagar.ckmeout.com/prospectus.pdf" target="_blank" download >
		<span class="downloadIcon"></span>Prospectus
	</a>			
</div>

<div class="admissionFix forMobile" style="display: none">
	<button class="btn btn-sm  btn-warning" >			
		<a href="http://dpsrajnagar.ckmeout.com/form.pdf" target="_blank" download class="text-uppercase"> <span class="downloadIcon"></span> Application Form</a>
	</button>
	<button class="btn btn-sm btn-warning">
		<a  href="http://dpsrajnagar.ckmeout.com/prospectus.pdf" target="_blank" download class="text-uppercase"><span class="downloadIcon"></span>Prospectus</a>			
	</button>
</div>

<router-outlet></router-outlet>
<app-slider-footer></app-slider-footer>
<app-footer></app-footer>

 -->

<router-outlet></router-outlet>
